.home_container {
	position: relative;
	overflow-y: hidden;

	width: 100%;
	min-height: 100vh;

	.content_container {
		height: 100%;

		.reading_content {
			display: flex;
			flex-direction: column;
			justify-content: center;
			text-align: center;
			padding-bottom: 400px;

			width: fit-content;
			margin: 0 auto;
			margin-top: 120px;

			color: var(--primary-color);

			.heading {
				font-size: 40px;
				font-weight: 600;

				span {
					display: inline-block;
					width: fit-content;
					animation: wiggle 0.3s 1s 2 forwards ease;
					transform-origin: bottom right;
				}
			}

			.desc {
				font-weight: 400;
				font-size: 20px;
				letter-spacing: 0.03em;

				padding-top: 2rem;
				max-width: 640px;
			}

			a {
				display: flex;
				flex-direction: row;
				padding: 16px 32px;

				margin: 0 auto;
				margin-top: 2.5rem;

				width: fit-content;

				border: 2px solid #1c2a97;
				box-shadow: 0px 4px 12px 4px rgba(28, 42, 151, 0.25);
				border-radius: 6px;
				text-decoration: none;

				font-weight: 600;
				font-size: 16px;
				color: var(--primary-color);

				&:hover {
					background-color: rgba(28, 42, 151, 0.1);
					box-shadow: 0px 4px 12px 10px rgba(28, 42, 151, 0.25);
				}
			}
		}

		.keyboard {
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%) translateY(10px);
			z-index: 2;

			.keyboard_container {
				transform: perspective(1000px) rotateX(90deg) translateY(100px)
					scale(1.2);
				animation: perspective_animation 1s 0.2s forwards ease-in-out;

				transform-origin: bottom center;

				-webkit-transform-style: preserve-3d;
				transform-style: preserve-3d;

				.blur {
					position: absolute;
					display: block;
					width: 100%;
					height: 100%;
					background: linear-gradient(
						0deg,
						rgba(9, 7, 16, 1) 0%,
						rgba(9, 7, 16, 1) 10%,
						rgba(9, 7, 6, 0) 100%
					);

					z-index: 3;
				}
			}
		}
	}
}

.blob {
	user-select: none;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%) translateY(56px) scale(1.5);
	animation: spark 2.5s forwards ease-in-out;
	filter: blur(200px);
	z-index: -1;
}
@keyframes wiggle {
	0% {
		transform: rotateZ(0deg);
	}

	50% {
		transform: rotateZ(-30deg);
	}

	100% {
		transform: rotateZ(0deg);
	}
}

@keyframes spark {
	0% {
		transform: scale(1) translateX(-50%) translateY(56px);
		filter: blur(200px);
		left: 50%;
	}

	100% {
		transform: scale(2) translateX(-50%) translateY(56px);
		filter: blur(100px);
	}

	// 100% {
	// 	filter: blur(200px);

	// 	transform: scale(1) translateX(-50%) translateY(56px);
	// }
}

@keyframes perspective_animation {
	0% {
		transform: perspective(1000px) rotateX(90deg) translateY(100px);
	}

	100% {
		transform: perspective(1000px) rotateX(0deg) scale(1.2);
	}
}
