.keyboard {
	text-align: center;
	font-size: 14px;
	line-height: 16px;
	font-family: sans-serif;

	display: flex;
	flex-direction: column;
	width: fit-content;

	padding: 0.5em;
	padding-bottom: 0.6em;

	background: linear-gradient(
			180deg,
			rgba(255, 255, 255, 0.2) 14.52%,
			rgba(255, 255, 255, 0) 87.38%
		),
		#626166;
	box-shadow: 0px 2px 0px #191a1f;
	border-radius: 12px;

	width: 784px;
}

.blueish {
	background: linear-gradient(
			180deg,
			rgba(19, 25, 83, 0.16) 0%,
			rgba(19, 24, 80, 0) 100%
		),
		linear-gradient(
			180deg,
			rgba(255, 255, 255, 0.2) 14.52%,
			rgba(255, 255, 255, 0) 87.38%
		),
		#626166;
}

.keyboard__row {
	display: inline-block;
	height: 3em;
	margin: 0.2em;
}

.keyboard__row__h1 {
	height: 1.7em;
	line-height: 1.4em;
}

.keyboard__row__h3 {
	height: 3.3em;
}

.keyboard__row > * {
	position: relative;
	background: #333;
	text-align: center;
	color: #eee;
	float: left;
	border-radius: 0.3em;
	margin: 0.2em;
	padding: 0.2em;
	width: 3.3em;
	height: 100%;
	box-sizing: border-box;
	cursor: pointer;
	-webkit-user-select: none;
	border: 1px solid #444;
	box-shadow: 0 0.2em 0 0.05em #222;
	border-bottom-color: #555;
}

.keyboard__row__h1 > div {
	width: 3.5em;
}

.keyboard__row > div[data-pressed],
.keyboard__row > div:active {
	background: #2a2a2a;
	color: #aaa;
	position: relative;
	top: 0.2em;
	box-shadow: 0 0 0 0.05em black;
}

.key__w3 {
	width: 4.6em;
}

.key__w4 {
	width: 6em;
}

.key__w5 {
	width: 6.5em;
}

.key__w6 {
	width: 8.3em;
}

.key__space {
	width: 18em;
}

.key__double > * {
	padding-top: 0.1em;
}

.key__letter {
	line-height: 2.8em;
}

.key__bottom_left > * {
	position: absolute;
	text-align: left;
	bottom: 0.4em;
	left: 0.4em;
}

.key__bottom_right > * {
	position: absolute;
	text-align: right;
	bottom: 0.4em;
	right: 0.4em;
}

.key__fn > * {
	font-size: 0.6em;
	line-height: 1em;
	padding-top: 1.2em;
	padding-right: 0.2em;
	text-align: right;
	float: right;
}

.key__word > * {
	font-size: 0.8em;
}

.key__arrow__tall > *,
.key__arrow > * {
	font-size: 0.5em;
	line-height: 3em;
}

.key__arrow {
	height: 1.8em;
	margin-top: 1.7em;
	line-height: 0.5em;
}

.keyboard > .keyboard__row {
	text-align: center;
}
